@import "./base.css";

#app {
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
  background: rgb(5,29,37);
  background: linear-gradient(56deg, rgba(5,29,37,1) 0%, rgba(1,26,38,1) 100%);
}

